/* .baord{
    width: 72vh;
    height: 60vh;
    background-color: black;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.side{
    display: grid;
    border: black solid 1px;
    background-color: blueviolet;
    grid-template-columns: 1fr 12fr 1fr;
    grid-template-rows: 1fr 9fr 3fr 9fr 1fr;
}

.topSide, .botSide, .leftSide, .rightSide{
    background-color: brown;
}

.topSide{
    grid-column: 1/4;
    grid-row: 1;
}
.botSide{
    grid-column: 1/4;
    grid-row: 5;
}
.leftSide{
    grid-column: 1;
    grid-row: 1/6;
}
.rightSide{
    grid-column: 3;
    grid-row: 1/6;
}

.baordtop, .baordbot{
    background-color:grey;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}
.baordtop{
    grid-column: 2;
    grid-row: 2;
}
.baordbot{
    grid-column: 2;
    grid-row: 4;
}

.baordbot> div{
    background-color: black;
}
.baordbot> div:nth-child(odd){
    background-color: red;
}
.baordtop> div{
    background-color: red;
}
.baordtop> div:nth-child(odd){
    background-color: black;
}


 */
