.bar{
    height: auto;
    width: 40vh;
    background-color: #F0F0F0;
    display: box;
}
.btn {
    background: #51585C;
    color: white;
    height: 4vh;
    width: 4vh;
    margin: 5px 1px;
    padding: 0px;
    vertical-align:0px;
    border-radius: 2vh;
}
.send{
    width: 6vh;
}
.message-input{
    background-color: white;
    height: 4vh;
    width: 25vh;
    margin: 0px;
    padding: 15px;
    border-radius: 50px;
}
.message-input:focus{
    outline: none;
}